

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: "Courier New", monospace;
    text-align: center;
    overflow: hidden;
  }
  
  h1 {
   color: red;
    font-size: 20px;
    top: 50%;
    line-height: 0.85;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    transform: translateY(-50%); 
    mix-blend-mode: multiply;
    z-index: 1;
  }
  
  a:link {
      color: red;
  }
  a:hover, a:active {
      background-color: red;
  }
  a:visited {color:red;}
  
  .cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://static.tumblr.com/915fbadf79d79305ffaa571ab10f0cc0/1bmpweg/uuJno332e/tumblr_static_tumblr_static_4tukvi68ipesk8cs00gwwwoso_640.gif");
    background-size: cover;
    z-index: 0;
  }
  
  .hovering {
    position: absolute;
    color: red;
    mix-blend-mode: multiply;
    left: 0;
    right: 0;
    &:before,
    &:after {
      position: absolute;
      top: 0.02em;
      content: attr(data-text);
      mix-blend-mode: multiply;
      animation: hovering 7s linear infinite;
      text-align: center;
      width: 100%;
    }
  
  
  }
  
  // Animations
  @keyframes hovering {
    @for $i from 0 through 50 {
      #{$i*(1/50) * 10 * 10%} {
        transform: translate(random(7) + px, random(2) + px)
      }
    }
  }
  
  @keyframes hovering-sm {
    @for $i from 0 through 50 {
      #{$i*(1/50) * 10 * 10%} {
        transform: translate(random(5) + px, random(1) + px)
      }
    }
  }