$light-purple: #ccccff;
$dark-purple: #9999ff;
$purple-gray: #a4a4c1;
$light-gray: #777;
$header-font: 'Courier New', monosopace;

@mixin set-margin($margin){
  margin: $margin;
}

.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}

body {
	padding: 0px;
  font-family: Courier New;
  
}

.navbar {
	margin: 0px; 
}

.nav-link:hover {
  color: $light-purple !important;
}

.jumbotron {
	text-align: center;
  background: $light-purple;
}

.jumbotron-font {
  color: white !important;
}

.intro-image {
	margin-bottom: 15px;
	width: auto;
}

.main-section {
	padding-bottom: 30px;
}

.icons {
  color: $purple-gray;
}

.icons:hover {
  color: $light-purple;
}

.bubble {
  border-radius: 50%;
  height: 190px;
  width: 200px;
}

.bubble-container {
    text-align: center;
}

.bubble-text {
  @include set-margin(30px 0px 0px 0px);
  text-align: center;
}

body {
  margin: 0;
}

.parallax1 {
  background: url('michelle.jpg');
  min-height: 700px;
}

.parallax2 {
  background: url('https://res.cloudinary.com/ejbostian/image/upload/v1475096876/img2_oftyio.jpg');
  min-height: 400px;
}

.parallax3 {
  background: url('https://res.cloudinary.com/ejbostian/image/upload/v1475096882/img3_ipgxms.jpg');
  min-height: 400px;
}

.parallax1, .parallax2, .parallax3 {
  position: relative;
    opacity: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
  color: $light-gray;
}

.overlay1 {
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.relative {
  position: relative;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  font-family: $header-font;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.overlay-section {
  height: 150px;
  text-align: center;
}