nav{
    position:fixed;
}
a{
    text-decoration: none;
    font-family: 'Courier New', monospace;
  font-size: 18px; 
    color: #000000;
    transition: color 0.3s ease;
}
a:hover{
    color: #999999;
}
#menuToggle{
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}
#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}
#menuToggle span:first-child{
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #000000;
}
#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}
#menu{
    position: absolute;
    width: 20vw;
    height:100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
    padding: 1px 0;
    font-size: 22px;
}
#menuToggle input:checked ~ ul{
    transform: scale(1.0, 1.0);
    opacity: 1;
}

$light-purple: #ccccff;
$dark-purple: #9999ff;
$purple-gray: #a4a4c1;
$light-gray: #777;
$header-font: 'Courier New', monosopace;

@mixin set-margin($margin){
  margin: $margin;
}

.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}

body {
	padding: 0px;
  font-family: Courier New;
  
}

.navbar {
	margin: 0px; 
}

.nav-link:hover {
  color: $light-purple !important;
}

.jumbotron {
	text-align: center;
  background: $light-purple;
}

.jumbotron-font {
  color: white !important;
}

.intro-image {
	margin-bottom: 15px;
	width: auto;
}

.main-section {
	padding-bottom: 30px;
}

.icons {
  color: $purple-gray;
}

.icons:hover {
  color: $light-purple;
}

.bubble {
  border-radius: 50%;
  height: 190px;
  width: 200px;
}

.bubble-container {
    text-align: center;
}

.bubble-text {
  @include set-margin(30px 0px 0px 0px);
  text-align: center;
}

body {
  margin: 0;
}

.parallax1 {
  background: url('paperih.svg');
  min-height: 700px;
}

.parallax2 {
  background: url('https://res.cloudinary.com/ejbostian/image/upload/v1475096876/img2_oftyio.jpg');
  min-height: 400px;
}

.parallax3 {
  background: url('https://res.cloudinary.com/ejbostian/image/upload/v1475096882/img3_ipgxms.jpg');
  min-height: 400px;
}

.parallax1, .parallax2, .parallax3 {
  position: relative;
    opacity: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
  color: $light-gray;
}

.overlay1 {
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.relative {
  position: relative;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  font-family: $header-font;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.overlay-section {
  height: 300px;
  text-align: center;
}