body {font-size:14px}
h2 {font-size: 20px}
  {
	margin:0;
	padding:0;
}
nav{
    position:fixed;
}
a{
    text-decoration: none;
    font-family: 'Courier New', monospace;
  font-size: 18px; 
    color: #000000;
    transition: color 0.3s ease;
}
a:hover{
    color: #999999;
}
#menuToggle{
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}
#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}
#menuToggle span:first-child{
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #000000;
}
#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}
#menu{
    position: absolute;
    width: 20vw;
    height:100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
    padding: 1px 0;
    font-size: 22px;
}
#menuToggle input:checked ~ ul{
    transform: scale(1.0, 1.0);
    opacity: 1;
}
main{
	background-image: url("http://www.qygjxz.com/data/out/248/5278827-wallpaper-white.png");
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	font-family:'Courier New',monospace;
	font-size:1em;
}

body {
  background-color: 
  white;
}
.col4 {
  width: 33%;
  float: left;
  position: relative;
}
.transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body .container {
  width: 70%;
  margin: 0 auto;
}
.fx1 .item,
.fx2 .item,
.fx3 .item,
.fx4 .item,
.fx5 .item {
  margin: 10px 0;
}


.fx1 .item {
  padding: 0;
}
.fx1 .item img {
  padding: 0 !important;
  display: block;
  max-width: 100%;
  height: auto;
}
.fx1 a:hover .item img,
.fx1 a:focus .item img {
  opacity: 0.8;
}
.fx1 h4,
.fx1 p {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fx1 a .item h4 {
  font-family: "Courier New", monospace;
  font-size: 18px;
  position: absolute;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 42%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
}
.fx1 a:hover .item h4,
.fx1 a:focus .item h4 {
  opacity: 1;
}
.fx1 a .item p {
font-family: "Courier New", monospace;
  font-size: 14px;
  position: absolute;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 52%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
}
.fx1 a:hover .item p,
.fx1 a:focus .item p {
  opacity: 1;
}






